.create_paper {
  padding: 20px;
  min-height: 75vh;
  width: 400px;
  margin: 20px auto;
  .avtar-icon {
    background-color: blue;
  }
  .text-field {
    margin: 2px;
  }
  .input-field {
    margin: 6px 2px;
  }
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  .error_message {
    font-size: medium;
    color: rgba(255, 96, 96, 0.842);
    opacity: 0;
    &.show_message {
      opacity: 1 !important;
    }
  }
}
